.post-list-container {
	display: flex;
	flex-wrap:wrap;
	font-size:1rem;
}

.post-list-item {
	box-sizing: border-box;
	width: calc(50% - 1rem);
	margin: .5rem;
	padding: 1rem;
	flex-wrap: nowrap;
	border:1px solid #ccc;
}

.post-list-item img {
	max-width:100%;
	height:auto;
}

.post-list-item h2 {
	font-size:1.85rem;
}